.btn-default {
    background-color: #e2e2e2;
}

.image-container {
    position: relative;
    margin-bottom: 50px;
}

.scroll-container {
    overflow: hidden;
    height: 300px;
}

.image-container .toolbar {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
}

.btn-sm span {
    line-height: 12px;
}

.image {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
.image.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
.image.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
.image.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}