.btn-default {
    background-color: #e2e2e2;
}

.image-container {
    position: relative;
    /*margin-bottom: 50px;*/
}

.scroll-container {
    overflow: hidden;
    height: 300px;
}

.image-container .toolbar {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
}

.btn-sm span {
    line-height: 12px;
}

.matching-button-bar {
    display: inline;
}
