.btn-default {
    background-color: #e2e2e2;
}

.image-container {
    position: relative;
}

.image-container span {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fff;
    font-size: 10px;
}

.scroll-container {
    overflow: hidden;
    height: 300px;
}

.toolbar {
    color: #fff;
}

.toolbar > div {
    margin-bottom: 5px;
}

.btn-sm span {
    line-height: 12px;
}

.matching-button-bar {
    display: inline;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
}


